/* GENERAL SETUPS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

/* Fonts, colors and text styles */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-links,
.subtext,
button {
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h1,
h2 {
    font-weight: 900;
}

h2,
.cards {
    text-align: center;
}

.recipe-name {
    font-size: 20px;
}

.quote-footer {
    font-size: 22px;
}

h1,
h2,
blockquote,
.footer,
.subtext,
a,
.action {
    color: #236159;
}

.wrapper,
.footer {
    background: #a9f77ddc;
}

.main-button,
.action-button {
    background-color: #008200;
    border: 2px solid;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    font-weight: bold;

    margin-top: 14px;
    padding: 10px;
    width: 125px;
}

.header-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.main-button a {
    color: white;
}

.main-button a:visited {
    color: #e5e7eb;
}

.recipe-button {
    background-color: #008200;
    border: 2px solid;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    font-weight: bold;
}

/* Flexbox and Layout */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0 30px 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    width: 78%;
    margin-bottom: 50px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
}

.header img {
    height: 80px;
    width: 200px;
}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;

    padding: 20px 10px 40px 10px;
    width: 100%;
}

.left-hero {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.right-hero img {
    height: 220px;
    width: 500px;
    max-width: 100%;
}

h2 {
    margin-top: 20px;
    padding: 8px;
}
.content {
    display: flex;
    justify-content: center;

    margin: 0 0 40px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin: 10px;
    padding: 10px;
    max-width: 280px;
    height: 250px;
}

.card img {
    border-radius: 10px;
}

.recipe-button {
    border-radius: 10px;
    width: 120px;
    padding: 8px;
    margin: 0 auto;
}

.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    background-color: #94df94e1;
}

blockquote {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 350px;
    width: 800px;
    max-width: 100%;
    padding: 10px;

    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-footer {
    display: flex;
    flex-direction: row-reverse; 

    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    padding-right: 12px;
}

.call-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 40px;
    padding: 20px;
}

.action {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 52px;

    margin-top: 40px;
    padding: 30px;
    width: 70%;

    background-color: #81d441;
    border-radius: 4px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.action-button {
    flex-shrink: 0;
}


